body {
    cursor: default;
    user-select: none;
    font-weight: 500;
}

.body-color {
    background: url('../background.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0% auto 0% auto;
    width: 70%;
    padding-left: 8%;
    padding-top: 5%;
    color: white;
}

.city-name {
    font-size: 5rem;
}

.temp-value {
    font-size: 8rem;
    font-family: 'Roboto Condensed', sans-serif;
}

sup {
    font-size: 30%;
    vertical-align: top;
    top: 1.7em;
}

.temp-size {
    font-size: 5rem;
    padding-right: 2%;
}

.icon-temp {
    display: flex;
    align-items: center;
    height: 100px;
}

.item {
    display: flex;
    font-size: 1rem;
}

.feels-like {
    padding-left: 15%;
    font-size: 1rem;
}

a {
    color: white;
}

.parameter {
    padding-top: 2%;
    min-width: 100px;
}

.icon {
    font-size: 2rem;
    padding-left: 10%;
}

.weather-data {
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {
    margin: 0;
}

i {
    text-align: center;
    width: 100px
}