.content {
    margin: 1% auto 1% auto;
    width: 60%;
    min-height: 70%;
    padding-left: 10%;
    padding-top: 2%;
}

.font-size {
    font-size: 5rem;
}

.temp-size {
    font-size: 5rem;
    padding-right: 2%;
}

.icon-temp {
    display: flex;
}

.item {
    display: flex;
    font-size: 2rem;
}